.contenedor-inicio {
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./assets/FondoPokemones.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
   
}

.contenedor-bienvenida {
    height: 25%;
    font-family: 'Silkscreen', cursive;
}

.descripcion-bienvenidos {
    color: rgb(221, 221, 221);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.boton-ingresar {
    width: 120px;
    height: 35px;
    border-color: white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color .15s ease-in-out;
}
  
.boton-ingresar:hover, .boton-ingresar:focus {
    background-color: #0069d9;
}
  
.boton-ingresar:active {
    background-color: #0062cc;
}

.boton-registrar {
    width: 120px;
    height: 35px;
    border-color: white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #258d19;
    color: #fff;
    transition: background-color .15s ease-in-out;
}
  
.boton-registrar:hover, .boton-registrar:focus {
    background-color: #258d19;
}
  
.boton-registrar:active {
    background-color: #258d19;
}
.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokeball-inicio {
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pokeball-inicio > img {
    height: 60%;
    width: 60%;
    
}


